    <div class="selecteddays">
      {{!-- <div class="selecteddays-header">Selected Days</div> --}}
        <div class="rup-tabs rup-tabs--sm" id="selected-iddays">
            <nav role="tablist" class="rup-tabs__list" aria-label="Put a label here">
                <button role="tab"
                        class="rup-tabs__nav"
                        aria-selected="true"
                        aria-controls="tabpanel_3-1"
                        id="tabnav_3-1"
                        tabindex="0">
                Selected Days
                </button>
            </nav>
        </div>       
      <p></p>

      <div class="rup-select">
        <div class="rup-toast" role="alert" aria-live="polite" aria-atomic="true">
          {{#each this.totalSelected as | day index|}}
{{!-- <div class="rup-tag">Example
  <button class="rup-tag__close rup-icon-btn rup-icon-btn--neutral rup-icon-btn--xs" type="button">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-clear"><path class="primary" fill-rule="evenodd" clip-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L12 10.586l6.293-6.293a1 1 0 111.414 1.414L13.414 12l6.293 6.293a1 1 0 01-1.414 1.414L12 13.414l-6.293 6.293a1 1 0 01-1.414-1.414L10.586 12 4.293 5.707a1 1 0 010-1.414z"></path></svg>
  </button>
</div>   --}}        
          <div class="eachDay">
          
          <div class="rup-tag" >{{day.number}} {{day.month}}
            <button class="rup-tag__close rup-icon-btn rup-icon-btn--neutral rup-icon-btn--xs" type="button" {{on "click" (fn this.clearDates day.number day.month) }}>
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-clear"><path class="primary" fill-rule="evenodd" clip-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L12 10.586l6.293-6.293a1 1 0 111.414 1.414L13.414 12l6.293 6.293a1 1 0 01-1.414 1.414L12 13.414l-6.293 6.293a1 1 0 01-1.414-1.414L10.586 12 4.293 5.707a1 1 0 010-1.414z"></path></svg>
            </button>
          </div>          
          </div>       
          <span class="separator"></span>
          {{/each}}
        </div>      
      </div>            
      <p></p>
      <button id="saveButton" {{on "click" this.saveDates}} class="rup-btn rup-btn--contained" type="button">Save</button>
    </div>     
