{{page-title "Bookings"}}
<NavBar />
{{!-- <div class="rup-notification rup-notification--with-btn" role="alertdialog" aria-label="notification label" aria-describedby="alert_desc-9">
  <p id="alert_desc-9" class="rup-notification__content">
    For all visits to any CCC office other than the removal of peripheral equipment, please use this app to submit a request. For multiple bookings, please contact support@copyright.com
    The IT equipment in the office is limited to 30 full seats, on days with much influx, if you need equipment you can bring your own from home
  </p>
</div> --}}
<div class="rup-notification rup-notification--with-icon" role="alertdialog" aria-label="notification label" aria-describedby="alert_desc-5">
  <span class="rup-notification__icon rup-icon">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-info"><path class="primary" d="M12 11a1 1 0 011 1v4a1 1 0 11-2 0v-4a1 1 0 011-1zM12 9a1 1 0 100-2 1 1 0 000 2z"></path><path class="primary" fill-rule="evenodd" clip-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10zm0-2a8 8 0 100-16 8 8 0 000 16z"></path></svg>
  </span>
  <p id="alert_desc-5" class="rup-notification__content">
    For all visits to any CCC office other than the removal of peripheral equipment, please use this app to submit a request. For multiple bookings, please contact support@copyright.com The IT equipment in the office is limited to 30 full seats, on days with much influx, if you need equipment you can bring your own from home
  </p>
</div>

<div class="bookings">
  <Bookings> </Bookings>
</div>
  
