<NavBar />
<div class="container">
  <h2>Welcome to CCC Office Tracker!</h2>
  <p>FOR ALL visits to any CCC office OTHER THAN the removal of peripheral equipment, please use this form to submit a request.</p>
  <LinkTo @route="bookings" class="button">Bookings CCC</LinkTo>
</div>
