{{page-title "Login"}}
<NavBar />
<div class="container">
<div class="right container2"></div>

    <h2>Log In CCC {{this.validationUser}}</h2>
    <p>
      This page will be used to log you into our Office Tracker system.
    </p>
    <Login></Login>

</div>  
