{{page-title "MyPreviousVisits"}}
<NavBar />
  <p></p>
  <h2>My Previous Visits</h2>
  <p>
    Copyright Clearance Center<br>
    Danvers, Massachusetts, United States
  </p>
  <address>
    Copyright Clearance Center (CCC)
    <p>
      Danvers, Massachusetts, United States<br>
      Founded 1978
    </p>
    <a href="tel:503.555.1212">+1 (503) 555-1212</a><br>
    <a href="mailto:superrentalsrep@emberjs.com">username@copyright.com</a>
  </address>
  <LinkTo @route="bookings" class="button">About</LinkTo>

{{outlet}}